###  I. Import thư viện

In [ ]:
import pandas as pd
import numpy as np

'c:\\Project\\Country Indicators Dashboard\\Script'

### II. Import dữ liệu

##### 1. Import dữ liệu bằng pandas

In [ ]:
gdp = pd.read_csv(r"..\data\raw\GDP.csv")
cpi = pd.read_csv(r"..\data\raw\CPI.csv")
cpi_percentage = pd.read_csv(r"..\data\raw\cpi_percentage.csv")
acreage_country = pd.read_csv(r"..\data\raw\acreage_country.csv")
female_population = pd.read_csv(r"..\data\raw\female_population.csv")
male_population = pd.read_csv(r"..\data\raw\male_population.csv")
gdp_percentage_capita = pd.read_csv(r"..\data\raw\gdp_percentage_capita.csv")
gdp_percentage_growth = pd.read_csv(r"..\data\raw\gdp_percentage_growth.csv")
population_country = pd.read_csv(r"..\data\raw\population_country.csv")
population_density = pd.read_csv(r"..\data\raw\population_density.csv")
unemployment_female_percentage = pd.read_csv(r"..\data\raw\unemployment_female_percentage.csv")
unemployment_male_percentage = pd.read_csv(r"..\data\raw\unemployment_male_percentage.csv")
unemployment_total_percentage = pd.read_csv(r"..\data\raw\unemployment_total_percentage.csv")
unemployment_young_female_percentage = pd.read_csv(r"..\data\raw\unemployment_young_female_percentage.csv")
unemployment_young_male_percentage = pd.read_csv(r"..\data\raw\unemployment_young_male_percentage.csv")
unemployment_young_percentage = pd.read_csv(r"..\data\raw\unemployment_young_percentage.csv")
urban_population = pd.read_csv(r"..\data\raw\urban_population.csv")
dim_country = pd.read_csv(r"..\data\cleaned\dim_country.csv")

##### 2. Check bảng

In [ ]:
gdp

      REF_AREA               REF_AREA_LABEL  TIME_PERIOD     OBS_VALUE
0          AFE  Africa Eastern and Southern         1960  2.420993e+10
1          AFW   Africa Western and Central         1960  1.190511e+10
2          CSS       Caribbean small states         1960  1.165303e+09
3          EAR   Early-demographic dividend         1960  1.445710e+11
4          EAS          East Asia & Pacific         1960  1.572780e+11
...        ...                          ...          ...           ...
14536      VUT                      Vanuatu         2024  1.161252e+09
14537      VNM                     Viet Nam         2024  4.763880e+11
14538      PSE           West Bank and Gaza         2024  1.371110e+10
14539      ZMB                       Zambia         2024  2.632578e+10
14540      ZWE                     Zimbabwe         2024  4.418770e+10

[14541 rows x 4 columns]

### III. Làm sạch

##### 1. Xóa những vùng không cần thiết

In [ ]:
# Set id các quốc gia từ 1 file chứa id và tên đúng của các quốc gia
valid_countries = set(dim_country['id'])

In [ ]:
# Xóa những vùng quốc gia không cần thiết
gdp = gdp[gdp['REF_AREA'].isin(valid_countries)]
cpi = cpi[cpi['REF_AREA'].isin(valid_countries)]
cpi_percentage = cpi_percentage[cpi_percentage['REF_AREA'].isin(valid_countries)]
acreage_country = acreage_country[acreage_country['REF_AREA'].isin(valid_countries)]
female_population = female_population[female_population['REF_AREA'].isin(valid_countries)]
male_population = male_population[male_population['REF_AREA'].isin(valid_countries)]
gdp_percentage_capita = gdp_percentage_capita[gdp_percentage_capita['REF_AREA'].isin(valid_countries)]
gdp_percentage_growth = gdp_percentage_growth[gdp_percentage_growth['REF_AREA'].isin(valid_countries)]
population_country = population_country[population_country['REF_AREA'].isin(valid_countries)]
population_density = population_density[population_density['REF_AREA'].isin(valid_countries)]
unemployment_female_percentage = unemployment_female_percentage[unemployment_female_percentage['REF_AREA'].isin(valid_countries)]
unemployment_male_percentage = unemployment_male_percentage[unemployment_male_percentage['REF_AREA'].isin(valid_countries)]
unemployment_total_percentage  = unemployment_total_percentage [unemployment_total_percentage ['REF_AREA'].isin(valid_countries)]
unemployment_young_female_percentage = unemployment_young_female_percentage[unemployment_young_female_percentage['REF_AREA'].isin(valid_countries)]
unemployment_young_male_percentage = unemployment_young_male_percentage[unemployment_young_male_percentage['REF_AREA'].isin(valid_countries)]
unemployment_young_percentage = unemployment_young_percentage[unemployment_young_percentage['REF_AREA'].isin(valid_countries)]
urban_population = urban_population[urban_population['REF_AREA'].isin(valid_countries)]

##### 2. Đổi tên các cột

In [ ]:
#Tạo list các dataframe
list_df = [gdp, cpi, cpi_percentage, acreage_country, female_population, male_population, gdp_percentage_capita,
            gdp_percentage_growth, population_country, population_density, unemployment_female_percentage, 
            unemployment_male_percentage, unemployment_total_percentage, unemployment_young_female_percentage,
            unemployment_young_male_percentage, unemployment_young_percentage, urban_population]

In [ ]:
#Set tên muốn đổi
rename_dict = {
    'REF_AREA': 'Id',
    'REF_AREA_LABEL': 'Country',
    'TIME_PERIOD': 'Year',
    'OBS_VALUE': 'Value'
                }
for df in list_df:
    df.rename(columns=rename_dict, inplace=True)

C:\Users\Phi Huynh\AppData\Local\Temp\ipykernel_23220\3760639570.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=rename_dict, inplace=True)

In [ ]:
dfs = {
    'GDP': gdp,
    'CPI': cpi,
    'CPI_PERCENTAGE': cpi_percentage,
    'ACREAGE_COUNTRY': acreage_country,
    'FEMALE_POPULATION': female_population,
    'MALE_POPULATION': male_population,
    'GDP_PERCENTAGE_CAPITA': gdp_percentage_capita,
    'GDP_PERCENTAGE_GROWTH': gdp_percentage_growth,
    'POPULATION_COUNTRY': population_country,
    'POPULATION_DENSITY': population_density,
    'UNEMPLOYMENT_FEMALE_PERCENTAGE': unemployment_female_percentage,
    'UNEMPLOYMENT_MALE_PERCENTAGE': unemployment_male_percentage,
    'UNEMPLOYMENT_TOTAL_PERCENTAGE': unemployment_total_percentage,
    'UNEMPLOYMENT_YOUNG_FEMALE_PERCENTAGE': unemployment_young_female_percentage,
    'UNEMPLOYMENT_YOUNG_MALE_PERCENTAGE': unemployment_young_male_percentage,
    'UNEMPLOYMENT_YOUNG_PERCENTAGE': unemployment_young_percentage,
    'URBAN_POPULATION': urban_population
}

In [ ]:
for col_name, df in dfs.items():
    df.rename(columns={'Value': col_name}, inplace=True)

C:\Users\Phi Huynh\AppData\Local\Temp\ipykernel_23220\1284349148.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Value': col_name}, inplace=True)

In [ ]:
df.to_csv(r"../data/cleaned/cleaned.csv", index=False)

#### Merge data

In [ ]:
dfs_to_merge = [
    gdp,
    cpi,
    cpi_percentage,
    acreage_country,
    female_population,
    male_population,
    gdp_percentage_capita,
    gdp_percentage_growth,
    population_country,
    population_density,
    unemployment_female_percentage,
    unemployment_male_percentage,
    unemployment_total_percentage,
    unemployment_young_female_percentage,
    unemployment_young_male_percentage,
    unemployment_young_percentage,
    urban_population
]

In [ ]:
from functools import reduce
import pandas as pd

df_all = reduce(
    lambda left, right: pd.merge(
        left,
        right,
        on=['Id', 'Country', 'Year'],
        how='outer'
    ),
    dfs_to_merge
)

In [ ]:
df_all

,Id,Country,Year,GDP,CPI,CPI_PERCENTAGE,ACREAGE_COUNTRY,FEMALE_POPULATION,MALE_POPULATION,GDP_PERCENTAGE_CAPITA,GDP_PERCENTAGE_GROWTH,POPULATION_COUNTRY,POPULATION_DENSITY,UNEMPLOYMENT_FEMALE_PERCENTAGE,UNEMPLOYMENT_MALE_PERCENTAGE,UNEMPLOYMENT_TOTAL_PERCENTAGE,UNEMPLOYMENT_YOUNG_FEMALE_PERCENTAGE,UNEMPLOYMENT_YOUNG_MALE_PERCENTAGE,UNEMPLOYMENT_YOUNG_PERCENTAGE,URBAN_POPULATION
0,ABW,Aruba,1960,NaN,NaN,NaN,NaN,27927.0,26995.0,NaN,NaN,54922.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27887.0
1,ABW,Aruba,1961,NaN,NaN,NaN,180.0,28252.0,27326.0,NaN,NaN,55578.0,308.766667,NaN,NaN,NaN,NaN,NaN,NaN,28212.0
2,ABW,Aruba,1962,NaN,NaN,NaN,180.0,28628.0,27692.0,NaN,NaN,56320.0,312.888889,NaN,NaN,NaN,NaN,NaN,NaN,28580.0
3,ABW,Aruba,1963,NaN,NaN,NaN,180.0,28975.0,28027.0,NaN,NaN,57002.0,316.677778,NaN,NaN,NaN,NaN,NaN,NaN,28917.0
4,ABW,Aruba,1964,NaN,NaN,NaN,180.0,29285.0,28334.0,NaN,NaN,57619.0,320.105556,NaN,NaN,NaN,NaN,NaN,NaN,29221.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13904,ZWE,Zimbabwe,2020,2.686856e+10,2725.312815,557.201817,386850.0,8156300.0,7370588.0,1730.453910,-7.816933,15526888.0,40.136714,NaN,NaN,NaN,NaN,NaN,NaN,5006179.0
13905,ZWE,Zimbabwe,2021,2.724051e+10,5411.002445,98.546105,386850.0,8291728.0,7505482.0,1724.387271,8.468039,15797210.0,40.835492,9.797,9.134,9.459,16.452,14.393,15.322,5102973.0
13906,ZWE,Zimbabwe,2022,3.278966e+10,11076.601790,104.705171,386850.0,8426339.0,7642717.0,2040.546587,6.139176,16069056.0,41.538209,10.461,9.554,10.001,18.010,16.812,17.354,5205571.0
13907,ZWE,Zimbabwe,2023,3.523137e+10,NaN,NaN,386850.0,8559888.0,7780934.0,2156.034093,5.336770,16340822.0,42.240719,9.460,9.126,9.290,16.760,14.920,15.756,5313545.0
13908,ZWE,Zimbabwe,2024,4.418770e+10,NaN,NaN,NaN,8705285.0,7929088.0,2656.409377,2.029484,16634373.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5434450.0

#### Check xem đúng dữ liệu không

In [ ]:
gdp[(gdp['Id'] == 'ZWE') & (gdp['Year'] == 2020)]

        Id   Country  Year           GDP
13548  ZWE  Zimbabwe  2020  2.686856e+10

#### Check duplicate

In [ ]:
gdp.duplicated(['Country', 'Year']).sum()

np.int64(0)

##### Lưu file CSV

In [ ]:
df_all.to_csv(r"..\data\processed\global_indicators.csv", index=False, encoding="utf-8-sig")